.main {
    background:#7C9AA6;
}

.containter {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-top: 2.8%;
    background-color: #4F6C73;
    padding: 140px;
    width: 90%; 
    max-width: 500px; 
    margin: 0 auto;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.text {
    text-align: center;
}

.h3 {
    text-align: center;
}

.form-floating {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

#floatingInput,
#floatingPassword {
    width: 300px; 
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.fgt{
    color: black;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .containter {
        width: 45%;
    }
}
